
        <div class="container-fluid">
           
            <div class="fields">

                <div class="row text-center">
                    <h1>Add Measurements</h1>
                    <p class="lead">Enter Your Measurements</p>
                </div>

                <form class="form-horizontal">
                   <!-- <div class="form-group">
                    <div class="takePhoto">
                         <h3>Take Photo</h3>
                        <input type="file" accept="image/*" id="capture" capture="camera">
                        <div class="viewPhoto">
                            <img src="">
                        </div>
                    </div>
                    </div>-->
                    <div class="row">
                    <div class="col-xs-12">
                        <label>Date</label>
                        <input type="date" ng-model="measurement.date" class="form-control">
                    </div>
                    </div>
                    <div class="row">

                        <div class="col-xs-4">
                        <input id="chest" type="text" ng-model="measurement.chest" class="circle" placeholder="Chest">
                    </div>
                    <div class="col-xs-4">
                        <input id="thighs" type="text" ng-model="measurement.thighs" class="circle" placeholder="Thighs">
                    </div>
                        <div class="col-xs-4">
                        <input id="arms" type="text" ng-model="measurement.arms" class="circle" placeholder="Arms">
                    </div>
                    </div>
                    <div class="row">
                                
                    <div class="col-xs-4">
                        <input id="arms" type="text" ng-model="measurement.arms" class="circle" placeholder="Stomach">
                    </div>
                    <div class="col-xs-4">
                        <input id="forearms" type="text" ng-model="measurement.forearms" class="circle" placeholder="Forearms">
                    </div>
                    <div class="col-xs-4">
                        <input type="waist" type="text" ng-model="measurement.waist" class="circle" placeholder="Waist">
                    </div>
                    
                    </div>


                    <div class="text-center"><button type="submit" ng-click="create(measurement)" class="btn btn-default">SUBMIT PROGRESS</button>
</div>
                </form>
            </div>
  
        </div>
